.App {
  text-align: center;
}

.card-grid {
  display: grid; /* 使用网格布局 */
  grid-template-columns: repeat(4, 1fr); /* 设置 4 列 */
  grid-template-rows: repeat(3, 1fr); /* 设置 3 行 */
  gap: 10px; /* 设置卡片之间的间距 */
  padding: 20px; /* 设置内边距 */
}

