.App {
  text-align: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg'); /* URL of the Pokémon logo */
  background-size: cover; /* Adjust background size */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  height: 100vh; /* Set height to cover the whole viewport */
}

.card-grid {
  display: grid; /* 使用网格布局 */
  grid-template-columns: repeat(4, 1fr); /* 设置 4 列 */
  grid-template-rows: repeat(3, 1fr); /* 设置 3 行 */
  gap: 10px; /* 设置卡片之间的间距 */
  padding: 20px; /* 设置内边距 */
}

